<launch>

  <!-- Include the Jackal control node -->
  <include file="$(find jackal_control)/launch/control.launch" />

  <!-- Override the robot_description parameter with the modified URDF/Xacro model of the Jackal robot with RPLidar -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find jackal_oh)/urdf/jackal_rplidar_vr.urdf.xacro" />

  <!-- Launch the Hokuyo UST-20LX ROS node with urg_node -->
  <node name="hokuyo" pkg="urg_node" type="urg_node">
    <param name="ip_address" value="192.168.0.10"/>
    <param name="port" value="10940" />
    <param name="frame_id" type="string" value="hokuyo_link" />
  </node>

  <!-- Launch the RealSense ROS node -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="camera" />
    <arg name="serial_no" value="" />
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Launch the web video server -->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server"/>

</launch>
